.CommList {
  width: 100%;
  overflow: hidden;
}

.topWrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.category_wrapper {
  margin-left: 0.5%;
  margin-top: 0%;
  width: 230px;

  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 3px;
}

.CommList > .topWrapper > .MySearch {
  margin-right: 5px;
}

.listUpper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.commNew {
  cursor: pointer;

  width: 60px;
  height: 25px;

  font-family: AppleFont;
  font-size: 0.8em;
  color: white;
  border: none;
  background-color: #353437;

  margin-right: 4px;
}

.CommList > .listUpper > h6 {
  padding-left: 5px;
}
