.CommList {
  width: 100%;
  overflow: hidden;
}

.category_wrapper {
  margin-left: 0.5%;
  margin-top: 0%;
  width: 25%;

  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.CommList > .MySearch {
  margin-left: 520px;
  margin-top: -20px;
}

.commNew {
  cursor: pointer;
  margin-left: 576px;

  width: 60px;
  height: 25px;

  margin-top: 19px;

  font-family: AppleFont;
  font-size: 0.8em;
  color: white;
  border: none;
  background-color: #353437;
}

.listUpper {
  display: flex;
}
