.Community {
  margin: 0 15%;
}

.Community > h3 {
  margin-left: 25px;
}

.Community > .searchbox {
  margin: 0px;
}

.Community > div > .MyTitle > .titleText {
  padding-left: 5px;
}

.Community > div {
  margin-top: 15px;
  margin-bottom: 10px;
}

.Community > div > .CommList {
  margin-bottom: 6%;
}

.Category_on_1 {
  font-style: bold;
  background-color: #ff5252;
  color: white;
  font-weight: bold;
}

.Category_on_2 {
  background-color: #ff5252;
  color: white;
  font-weight: bold;
}

.Category_on_3 {
  background-color: #ff5252;
  color: white;
  font-weight: bold;
}

.Category_on_4 {
  background-color: #ff5252;
  color: white;
  font-weight: bold;
}

.Category_on_5 {
  background-color: #ff5252;
  color: white;
  font-weight: bold;
}

.Category_on_6 {
  background-color: #ff5252;
  color: white;
  font-weight: bold;
}

.Category_on_7 {
  background-color: #ff5252;
  color: white;
  font-weight: bold;
}

.Category_on_8 {
  background-color: #ff5252;
  color: white;
  font-weight: bold;
}

.Community > .pagemove_wrapper {
  width: 40%;

  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;

  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 1%;
}
