.Magazine {
  margin: 0 15%;
  text-align: center;
}

.Magazine > .title {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.Magazine > .title > .MySearch {
  text-align: left;
}

.Magazine > .Magazine_box > h6 {
  text-align: left;
}
