.MyButton {
    border: none;
    background-color: white;
    cursor: pointer;
    color: dimgray;
    font-weight: bold;
}

.MyButton_head_logo {
    color: crimson;
}

.MyButton_head_login {
    font-size: 50%;
}

.MyButton_true_false {
    /* width: 25%; */
    border: solid 1px gray;
    padding: 5px 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.MyButton_true_false:focus {
    border: solid 2px black;
    color: black;
}