.MyButton {
  border: none;
  background-color: white;
  cursor: pointer;
  color: dimgray;
  font-weight: bold;
  font-family: Applefont;
}

.MyButton_head_logo {
  color: #ff7373;
}

.MyButton_head_login {
  font-size: 50%;
}

.MyButton_true_false {
  border: solid 1px gray;
  padding: 5px 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.MyButton_true_false:focus {
  border: solid 2px black;
  color: black;
}
