.MyFooter {
  height: 100px;
  margin-top: 100px;
  /*background-color: #555558;*/
  font-size: 10px;
}

.MyFooter_leftText {
  float: left;
}

.MyFooter_rightText {
  float: right;
  margin-top: 20px;
}

.MyFooter_finishLine {
  height: 300px;
}
