header {
  padding-top: 50px;
  padding-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
  width: 15%;
  justify-content: center;
}

.logo {
  width: 25%;
  justify-content: start;
}

.head_login,
.head_join {
  width: 12.5%;
  justify-content: end;
}
