.MyImage_img_best {
    margin: 10px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.MyImage_img_thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.MyImage_icon_search {
    margin: 0;
    width: 12px;
    height: 12px;
}

.MyImage_icon_percentage {
    width: 150px;
}

.MyImage_img_best {
    border-radius: 100%;
    border: white 2px solid;
}