.MyPageMenuTest {
  align-items: center;
  text-align: center;
  width: 240px;

  border-right: 1px solid #e2e2e2;
  color: #77777d;
  font-size: 14px;
}

.MyPageMenuTest > details > summary {
  height: 50px;
  line-height: 50px;

  cursor: pointer;
}

.MyPageMenuTest > details summary::marker {
  font-size: 0;
}

.MyPageMenuTest > details > div {
  font-size: 12px;

  align-items: center;
  text-align: center;

  height: 40px;
  line-height: 40px;
  margin: 5px 20px;

  cursor: pointer;
}

.MyPageMenuTest > details > div:hover {
  color: white;
  background-color: #77777d;
}

.menuTop {
  padding-top: 15px;
}

.menuBottom {
  padding-bottom: 20px;
}

.mypagemenuIcon {
  width: 10px;
  image-rendering: -webkit-optimize-contrast;
  padding-left: 5px;
  padding-bottom: 2px;
}
