.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
ul {
  list-style: none;
  padding: 0;
}
ul.pagination li {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}
ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}
ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}
ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #ff5252;
}
ul.pagination li a:hover,
ul.pagination li a.active {
  color: #ff5252;
}
/*.page-selection {
  width: 48px;
  height: 30px;
  color: #ff5252;
}*/
