.MyTitle {
  display: flex;
  margin: 0px;
  padding-top: 3%;
  padding-bottom: 15px;
}

.MyTitle > .titleText {
  font-weight: bold;
  font-size: 1em;
  padding-left: 2%;
  width: 88%;
}

.MyTitle > .totalbutton {
  padding-right: 0%;
  width: 10%;
}
