.MyTitle {
  display: flex;
  margin: 0px;
  padding-top: 3%;
  padding-bottom: 1%;
}

.MyTitle > .titleText {
  padding-left: 11.5%;
  font-weight: bold;
  font-size: 1em;
  width: 80%;
}

.MyTitle > .totalbutton {
  padding-right: 0%;
  width: 19%;
}
