/* @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"); */
@font-face {
  font-family: "AppleFont";
  src: url(/src/components/font/AppleSDGothicNeoL.ttf);
}

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "AppleFont";
  /* font-family: "Nanum Gothic", sans-serif; */
  /*vh : viewport height*/
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}
