.Volunteer_item {
  width: 100%;
  margin: 5px;

}

.Volunteer_item_imgbox {
  cursor: pointer;
  width:100%;
  
}


.Volunteer_item_img {
  width: 140px;
  padding: 5px;
  border-radius: 10px;
  /* overflow: hidden; */

}



.main_vol_title{
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}

.main_vol_organ{
  font-size: 13px;
  color:#96969E;
}

.main_vol_completed{
  color: #FF5252;
  font-weight: bold;
  font-size: 15px;
}


  .main_vol_recuriment_wrapper {
      display:flex;

  }


.main_vol_recuriment {
    width: 100%;
    display:flex;
    text-align: right;
    justify-content: right;
    
}


  .main_vol_recuriment_cur{
    text-align: right;
    font-size: 13px;
  }

  .main_vol_recuriment_limit{
    text-align: right;
    font-size: 13px;
    color:#96969E;

  }