.Volunteer_item {
  cursor: pointer;

  display: inline-block;
}

.Volunteer_item > .imgbox {
  cursor: pointer;
}

.Volunteer_item > .imgbox > .img_main {
  width: 170px;
  border-radius: 5px;
}

.Volunteer_item > .imgbox > .title {
  height: 30px;
  padding-bottom: 0px;
  font-size: 0.8em;
  font-weight: bolder;
  margin-top: 8px;
  margin-bottom: 4px;
  line-height: 15px;
  /* padding-left: 5px; */
  text-align: left;
}

.Volunteer_item > .imgbox > .organ {
  height: 10px;
  font-size: 0.4em;
  font-weight: bolder;
  color: rgb(150, 150, 150);
  margin: 0px;
  line-height: 10px;
  padding-bottom: 3px;
  text-align: left;
}

.Volunteer_item > .imgbox > .progress_degree > .percentage {
  color: #ff5252;
  font-weight: bold;
  font-size: 15px;
  width: 170px;

  text-align: left;
}

.progressbar {
  width: 170px;
  /* padding-left: 5px; */
}

.progress_degree {
  width: 170px;
  /* padding-left: 5px; */
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.Volunteer_item > .imgbox > .progress_degree > .count {
  width: 150px;
  text-align: right;
}

.Volunteer_item > .imgbox > .progress_degree > .count > .present {
  font-size: 0.8em;
}

.Volunteer_item > .imgbox > .progress_degree > .count > .total {
  font-size: 0.8em;
  color: #96969e;
}
