.adoption_thumbnail_board {
  margin: 0 15%;
}

.adoptionBest {
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

.adoption_thumbnail_board_titlewrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.adoption_thumbnail_board_titlewrapper > h6 {
  margin-left: 5px;
}

div
  > .adoption_thumbnail_board
  > .adoption_thumbnail_board_titlewrapper
  > .MyButton_default {
  background-color: #ff5252;
  color: white;
  width: 60px;
  height: 25px;
  font-size: 6px;
  font-weight: 100;
}

.adoption_thumbnail_board_contents {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}
