.AdoptionBest {
    background-image: url('../assets/AdoptionBest_background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

.AdoptionBest_text {
    padding-left: 10%;
    color: darkslateblue;
}

.AdoptionBest_RoundMark {
    font-size: 5px;
    padding: 3px 8px;
    border-radius: 50px;
    color: white;
    background-color: darkslateblue;
}