.adoption_thumbnail {
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
}

.adoption_img {
  border-radius: 5px;
  width: 170px;
  height: 100px;
}

.adoption_thumbnail_name {
  margin-top: 5px;
  margin-bottom: 1px;
  font-weight: bold;
  font-size: 0.83em;
}

.adoption_thumbnail_details1 {
  font-size: 10px;
  color: #96969e;
}

.adoption_thumbnail_details2 {
  font-size: 10px;
  font-weight: bold;
  background-color: #fafafc;
  border-radius: 50px;
  padding: 2px 10px;
  margin-bottom: 1px;
}

.adoption_thumbnail_options {
  font-size: 11px;
  color: black;
  padding: 5px;
}
