.adoption_thumbnail_board {
    margin: 0 15%;
}

/* .adoption_thumbnail_board_nav {

} */

.adoption_thumbnail_board_contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 5px;
}