.adoption_thumbnail {
  padding: 10px;
  text-align: center;
}

.adoption_thumbnail_name {
  font-weight: bold;
}

.adoption_thumbnail_details {
  font-size: 10px;
  color: gray;
}

.adoption_thumbnail_options {
  font-size: 11px;
  color: black;
  padding: 5px;
}
