.AdoptionEdit_form {
    margin: 50px 0;
}

/* .AdoptionEditInput {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.AdoptionEditInput:focus {
    outline: none;
} */

.AdoptionEdit {
    display: flex;
    justify-content: space-around;
}

.AdoptionEdit_right {
    padding: 50px;
}

/* .AdoptionEditInput_isEmpty {
    color: red;
    display: none;
} */