.adoption_thumbnail {
    width: 150px;
    margin: 0;
}

.adoption_best {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adoption_best > .adoption_best_content {
    height: 125px;
    border-radius: 10px;
    background-color: #e2e2e2;
    color: white;
    width: 60%;
}

.menu {
    float: right;
    margin: 3% 8%;
    padding-left: 50%;
}

.adoption_thumbnail_board {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-flow: row wrap;
}