.Comm_item {
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;

  border: 1px #eeeff1 solid;
  border-radius: 2px;
}

.Comm_item > .body_left {
  width: 70%;
  height: 100%;
}

.Comm_item > .body_left > .writer_info {
  display: flex;
  height: 40%;
  overflow: hidden;
}

.Comm_item > .body_left > .writer_info > .writer_img {
  width: 14%;
  margin: 2% 0.5% 0.5% 4%;
}

.Comm_item > .body_left > .writer_info > .writer_img > img {
  width: 95%;
}

.Comm_item > .body_left > .writer_info > .writer_item {
  margin: 2% 0.5% 2% 2%;
  width: 84%;
}

.Comm_item > .body_left > .writer_info > .writer_item > .writer_id {
  height: 30px;
  line-height: 30px;

  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bolder;
}

.Comm_item > .body_left > .writer_info > .writer_item > .writer_detail {
  display: flex;

  height: 20px;
  line-height: 20px;
  font-weight: bolder;
}

.Comm_item
  > .body_left
  > .writer_info
  > .writer_item
  > .writer_detail
  > .writer_grade {
  width: 15%;
  font-size: 0.85em;
  color: #77777d;
}

.Comm_item
  > .body_left
  > .writer_info
  > .writer_item
  > .writer_detail
  > .written_time {
  width: 87%;
  font-size: 0.6em;
  color: #b9bbc2;
}

.Comm_item > .body_left > .body {
  height: 60%;
  overflow: hidden;
}

.Comm_item > .body_left > .body > .body_text {
  height: 65%;
  overflow: hidden;

  margin: 2.5% 3% 0.5% 4%;
}

.Comm_item > .body_right {
  width: 30%;
  height: 100%;
}

.Comm_item > .body_right > .img_box {
  margin: 20px;
  height: 210px;
  line-height: 210px;
}

.Comm_item > .body_right > .img_box > img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
