.CommCate_item {
  cursor: pointer;

  font-size: 0.6em;

  letter-spacing: 0.2px;

  border-radius: 2px;
  padding-top: 3px;
  padding-bottom: 3px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #eeeff1;
}
