.HeartnReply {
  display: flex;
  margin: 0px 0px 0px 4%;
}

.HeartnReply > .icon {
  cursor: pointer;
  width: 15px;
  /* height: 16px;
  line-height: 16px; */
}

.HeartnReply > .icon > .heart {
  width: 95%;
}

.HeartnReply > .icon > .reply {
  width: 100%;
}

.HeartnReply > .text {
  cursor: pointer;
  font-size: 0.8em;
  color: #595959;
  margin-top: 0px;
  margin-left: 7px;
  margin-right: 12px;
}
