.MagazineList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MagazineList > .imgbox {
  cursor: pointer;

  width: 30%;
  margin: 1.2%;
}

.MagazineList > .imgbox > .img {
  width: 100%;
  height: auto;
  margin: 0px;
  border-radius: 4px;
}

.MagazineList > div {
  float: left;
  margin: auto;
}

.MagazineList > div > h5 {
  margin: auto;
}
