.SponList > div {
  float: left;
}

.SponList > .imgbox {
  cursor: pointer;

  width: 23%;
  margin: 5px;
}

.SponList > .imgbox > .img {
  border-radius: 2.5px;
}

.SponList > .imgbox > h5 {
  font-size: 0.72em;
  margin: 1px;
}

.SponList > .imgbox > h6 {
  margin: 1px;
  color: rgb(150, 150, 150);
}

.SponList > .imgbox > .under {
  font-size: 0.05em;
  margin: 0px;
}

.SponList > .imgbox > .icon_img {
  width: 35%;
  margin: 4px;
}
