img {
  width: 100%;
  height: auto;
  margin: 0px;
}

.VolunteerList > div {
  float: left;
  overflow: hidden;
}

.VolunteerList > .imgbox {
  cursor: pointer;

  width: 23%;
  margin: 5px;
}

.VolunteerList > .imgbox > .img {
  border-radius: 2.5px;
}

.VolunteerList > .imgbox > h5 {
  font-size: 0.72em;
  margin: 1px;
}

.VolunteerList > .imgbox > h6 {
  margin: 1px;
  color: rgb(150, 150, 150);
}

.percent {
  width: 100%;
  margin: 0px;
}
