.MyNav {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.MyNav_left {
    margin-left: 10px;
}

.MyNav_right {
    margin-right: 10px;
}

.MyNav_left_pageName {
    margin-right: 10px;
}
