.VolunteerActivity_thumbnail_board {
  margin: 0 15%;

  text-align: center;
}

.VolunteerActivity_thumbnail_board_titlewrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.VolunteerActivity_thumbnail_board_titlewrapper > h6 {
  margin-left: 5px;
}

.VolunteerActivity
  > .VolunteerActivity_thumbnail_board
  > .VolunteerActivity_thumbnail_board_titlewrapper
  > .MyButton_default {
  background-color: #ff5252;
  color: white;
  width: 60px;
  height: 25px;
  font-size: 6px;
  font-weight: 100;
}

.VolunteerActivity_thumbnail_board_content {
  padding-left: 9px;
}
