.volunteerApply {
  margin: 0% 20%;
}

.volunteerApplyTitleWrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin-top: 15px;
}

.volunteerApplyContentWrapper {
  display: flex;
}

.applyItemTitle {
  margin: 5px 0px;
}

.volunteerApply
  > .volunteerApplyContentWrapper
  > .volunteerApplyInputWrapper
  > .applyItem
  > input {
  font-family: Applefont;
  width: 250px;
  height: 30px;

  border: none;
  border-bottom: 1px solid black;

  margin-bottom: 5px;
}

.applyItemMessage {
  height: 20px;
}

.inputSuccess {
  color: rgb(65, 65, 157);
  font-size: 0.8em;
}

.inputError {
  color: red;
  font-size: 0.8em;
}

.onMale {
  font-family: Applefont;
  border: none;

  background-color: rgb(255, 255, 255, 0);
  color: rgb(65, 65, 157);
  border: 1px solid rgb(65, 65, 157);

  width: 120px;
  height: 30px;

  margin-bottom: 5px;
  margin-right: 10px;
}

.offMale {
  font-family: Applefont;
  border: none;

  background-color: rgb(255, 255, 255, 0);
  color: #d5d7db;
  border: 1px solid #d5d7db;

  width: 120px;
  height: 30px;

  margin-bottom: 5px;
  margin-right: 10px;
}

.onFemale {
  font-family: Applefont;
  border: none;

  background-color: rgb(255, 255, 255, 0);
  color: red;
  border: 1px solid red;

  width: 120px;
  height: 30px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.offFemale {
  font-family: Applefont;
  border: none;

  background-color: rgb(255, 255, 255, 0);
  color: #d5d7db;
  border: 1px solid #d5d7db;

  width: 120px;
  height: 30px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.volunteerApplyInfoWrapper {
  padding: 60px 30px 0px 30px;
  text-align: center;
}

.volunteerPostImage_Apply {
  width: 200px;
  border-radius: 5px;
}

.volunteerPostTitle_Apply {
  display: inline-block;
  width: 200px;
  text-align: left;
  font-weight: bold;

  margin: 5px 0px;
  font-size: 0.9em;
}

.volunteerPostOrgan_Apply {
  display: inline-block;
  width: 200px;
  text-align: left;

  font-size: 0.8em;
}

.volunteerCount_Apply {
  display: inline-block;
  width: 200px;
  text-align: left;

  font-size: 0.8em;
}

.volunteerSubmitButton {
  font-family: Applefont;

  width: 645px;
  height: 50px;

  margin-top: 10px;

  border: none;

  background-color: #ff7373;
  color: white;

  cursor: pointer;
}

.volunteerSubmitButton:disabled {
  background-color: #e2e2e2;
  cursor: Default;
}

.volunteerPrivacyCheck {
  margin: 10px 0px;

  display: flex;
}

.volunteerPrivacyCheck_label {
  font-size: 0.9em;

  margin-top: 1px;
  margin-left: 5px;
}

.volunteerPrivacyNotice {
  width: 625px;
  padding: 10px;

  font-size: 0.95em;
  background-color: #f8f8fb;
  color: #555558;

  white-space: pre-wrap;
}
