div > .mypage_myfavoritemyvolunteer > span {
    display: flex;
    margin-left: 25%;
    margin-top: 3%;
    font-size: 16px;

}

/*찜한 봉사 리스트 */
.MyVolunteerList_image {
    height: 900px;
    width: 100%;
    border-radius: 2px;
    display: flex;
    justify-content: right;
    align-items: right;
    padding-top: 10px;
   
}
.mypage_myfavoritemyvolunteer_list {
    display: flex;
    align-items: right;
   
}

.MyFavoriteVolunteer > .mypage_myfavoritemyvolunteer > .MySearch { 
    float: right;
    margin-top: -11px;
    margin-right: 130px;
}
