

.menu_wrapper{
   width: 20%;
   display: flex;
   align-items:left;
 }
 
.menu_wrapper div {
   display : flex;
   padding:0px;
   width: 100%;
   font-size:14px;
   font-weight:bold;
}

.MypageMenu { /*큰 메뉴*/
   justify-content: left;
   align-items: left;
   border:none;
   border:0px;
   margin:0px;
   padding:0px;
   font-size:14px;
   font-weight:bold;
   margin-top: 0px; /*위랑 여백*/ 
   margin-left: 30px;
   
}

.MypageMenu ul{ /*box 높이*/

   justify-content: left;
   align-items: center;
   background:#FFFFFF;
   width: 100%; /*상위 메뉴 위치 조정*/ 
   height:100%;
   list-style:none;
   margin:0;
   padding:0;
}

.MypageMenu li{

   float:none;
   padding:0px;
}

.MypageMenu li a{
   background:#FFFFFF;
   color:  #77777d;
   display:block;
   font-weight:normal;
   line-height:35px;
   margin:0px;
   padding:0px 30px;
   text-align:left;
   text-decoration:none;
}

.MypageMenu li a:hover, .MypageMenu ul li:hover a{
   background: #FFFFFF;
   color:#77777d;
   text-decoration:none;
}

.MypageMenu li ul{
   background: #FFFFFF;
 /* display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
   height:auto;
   padding:0px;
   margin:0px;
   border:0px;
   width: 100%px;
   z-index:50;
}

.MypageMenu li:hover ul{
    display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.MypageMenu li li {
   background: #FFFFFF;
   display:block;
   float:none;
   margin:0px;
   padding:0px;
   width:100%px;
}

.MypageMenu li:hover li a{
   background:none;
}

.MypageMenu li ul a{
   display:block;
   height:35px;
   font-size:12px;
   font-style:normal;
   margin:0px;
   padding:0px 10px 0px 15px;
   text-align:left;
}

.MypageMenu li ul a:hover, .MypageMenu li ul li:hover a{
   background:#77777d;
   border:1px;
   color:#ffffff;
   text-decoration:none;
}
