.MyVolunteerList {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15%;
  }
  
  .MyVolunteerList > .MyVolunteerList_Box {
    display: flex;
    width: 600px;
    height: 110px;
    line-height: 130px;
    border: 1px #eeeff1 solid;
    border-radius: 2px;
  }
  
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left {
    width: 100%;
  }
  
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_top {
    display: flex;
    height: 32%;
    margin-top: 10px;
  }
  
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_top > .MyVolunteerList_user_img {
    width: 17%;
    height: 50px;
    margin: auto;
    margin-left: 15px;
  }
  
  /*.MyVolunteerList > .MyVolunteerListBox > .left > .top > .user_img > .icon {
    width: 100%;
    float: left;
    justify-content: center;
    align-items: center;
  }
  */

  /*제목 & 보호소*/
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_top > .MyVolunteerList_user_text {
    width: 90%;
    margin-left: 8%;
    vertical-align: middle;
    line-height: 13%;
    margin-top: -6px;

  }
  
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_top > .MyVolunteerList_user_text > .MyVolunteerList_detail {
    display: flex;
    line-height: auto;
    
}
  
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_top > .MyVolunteerList_user_text > .MyVolunteerList_detail > h5 {
    margin-top: -4px;
    color:#b9bbc2;

    
  }
  
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_top > .MyVolunteerList_user_text > .MyVolunteerList_detail > h4 {
    margin-top: 0px;
    margin-left: 25%;
    color: #b9bbc2;
    font-size: 0.6em;
  }
  
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_middle {
    height: 10%;
    line-height: 10%;
  }
  
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_middle > p {
    margin-top: 16px;
    margin-left: 20px;
    
  }
  
  /*일자*/
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_bottom {
    height: 50%;
    line-height: 50%;
    margin-top: 5px;
    margin-left: 68px;

  }
  
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_bottom > h4 {
    margin-top: 16px;
    margin-left: 102px;
    color:  #77777d;
    font-size: 0.8em;
  }
  
  .MyVolunteerList > MyVolunteerList_Box > .MyVolunteerList_right {
    width: 1%;
    height: 90%;
    margin-top: 9px;
    margin-left: 9px;
    overflow: hidden;
  }
  /*이미지 크기*/
  .MyVolunteerList > .MyVolunteerList_Box > .MyVolunteerList_left > .MyVolunteerList_top > .MyVolunteerList_user_img > .MyVolunteerList_image {
    height: 180%;
    width: 130%;
    border-radius: 2px;
  }
