.mypage_myvolunteer {
  width: 40%;

}

div > .mypage_myvolunteer > span {
  width: 20%;
  display: flex;
  margin-left: 70%;
  margin-top: 20px;
  display: flex;
  font-size: 16px;


}

.mypage_myvolunteer_list {
  justify-content: right;
  align-items: right;
  width: 80%;
  margin-left: 27%;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;

}

.MyVolunteer > .mypage_myvolunteer > .MySearch { 
  margin-top: -28px;
  margin-left: 505px;
  justify-content: right;
  align-items: right;
  width: 100%;
}
