.MyVolunteerCertificate {
  width: 100%;
  height: 800px;
}

.MyVolunteerCertificate > span {
  width: 20%;
  display: flex;
  margin-left: 24.5%;
  margin-top: 20px;
  display: flex;
  font-size: 16px;
}

footer {
  height: 100px;
}

.MyVolunteerCertificate > .MySearch {
  float: right;
  margin-top: -25px;
  margin-right: 130px;
}

.checkbox {
  font-size: 12px;
  align-items: center;
  margin-left: 290px;
  margin-top: 7px;
}
