.SearchBox {
    margin-top: 10px;
    margin-left: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 50px;
    background-color: #e2e2e2;
    height: 20px;
    width: 115px;
  }
  
  .SearchBox > .search_input {
    background-color: #e2e2e2;
    border-radius: 50px;
    border: none;
    width: 80px;
  }
  
  .SearchBox > .search_icon {
    margin: 6px;
    width: 10%;
  }
  