.SponsorList_wrapper {
    padding-top: 20px;
    width: 60%;
    flex-grow:1;
    justify-content: right;
    margin-right: 140px;
    float: right;
    margin-top: 5px;
    margin-bottom: 50px;
    height: 100%;
}

.SponsorList_list_wrapper{
    margin-bottom: 10px;
    width: 100%;
    border: 1px;
    border-color: #e2e2e2;
    border-style: solid;
    cursor: pointer;  
    justify-content: center;
    height: 160px;
}


.sponlist_code_text {
    width: 215px;
    height: 16px;
    margin-top: 15px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    color: #17181A;
} 

.sponlist_title_text {
    width: 473px;
    height: 22px;

    font-weight: 550;
    font-size: 15px;
    line-height: 22px;
    margin-left: 8px;
    margin-top: 3px;

    color: #17181A;
}

.sponlist_place_text {
    width: 223px;
    height: 16px;

    margin-left: 10px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    
    color: #555558;

}

.sponlist_delivery_text {
    width: 70px;
    height: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    margin-top: 20px;

    
    color:  #555558;

}

.sponlist_date_text {
    width: 77px;
    height: 16px;
    margin-left: 10px;
    margin-top: 3px;

    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    
    color: #555558;

}

.sponlist_total_amount_text {
    width: 95%;
    height: 38px;
    text-align: right;

    font-weight: 800;
    font-size: 17px;
    line-height: 38px;
    margin-top: -35px;

    color: #17181A;

}


